body {
    background-color: #268bd2;
}

div {
  box-sizing: border-box;
}

section#board {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 80%;
  margin:0 auto;
  overflow:hidden;
}

.column {
  float:left;
}

.block {
  border: 2px solid black;
}

.block:hover {
  background-color: black;
  border: 7px dotted white;
}

.stuck, .stuck:hover {
  border: 3px solid white;
}
