body {
  margin:0;
  background-color: #268bd2;
  position: absolute;
  overflow:hidden;

  /*ROTATE BODY*/
/*  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);*/
}

.column {
  float:left;
  width: 10%;
}

.block {
  border: 2px solid black;
  border-radius: 20px;
  padding: 1em;
  margin-bottom: 1px;
}

.block.stuck{
  background-color:black;
  border: dotted 3px white;
}
